--markup markdown
--markup-provider redcarpet
--readme README.md
--title "Funes - Event Sourcing for Rails"
lib/funes.rb
lib/funes/unknown_event.rb
lib/funes/unknown_materialization_model.rb
app/event_streams/funes/event_stream.rb
app/projections/funes/projection.rb
app/models/funes/event.rb
app/helpers/funes/projection_test_helper.rb
-
README.md
